<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>idkb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/server/home.css">
</head>
<body>
<div class="top_button" id="top_button"></div>

<div class="main">
    <div class="header" >
    <div class="top_site_bar">
        <div class="top_list_item">
            <div class="top_list_item_element" id="home">home</div>
        </div>
        <div class="top_list_item">
            <div class="top_list_item_element" id="kb" onclick="window.location.href='/idkb/kb'">knowledge base</div>
        </div>
        <div class="top_list_item">
            <div class="top_list_item_element" id="file" onclick="window.location.href='/idkb/file'">file</div>
        </div>
        <div class="top_list_item">
            <div class="top_list_item_element" id="chat" onclick="window.location.href='/idkb/chat'">chat</div>
        </div>
        <div class="top_empty_item"></div>
        <div class="search_bar">
            <input class="search_input" id="search_input">
            <div class="search_button" id="search_button"></div>
        </div>
        <div class="etc_button" id="etc_button" onclick="show_etc_menu()">
        </div>
        <div class="menu" id="etc_menu" style="display: none">
            <div class="menu_item"  onclick="logout()"><div class="menu_item_text">logout</div></div>
        </div>
    </div>

    </div>
    <div class="separator"></div>
    <div class="main-container" id="main_container">

        



        <div id="markdown-content"></div>

    </div>
    <div class="empty_block"></div>
    <div class="separator"></div>
    <div class="footer"></div>




    <div class="fullscreen_shadow" id="fullscreen_shadow" style="display: none"></div>
    <div class="absolute_container" id="login_container" style="display: none">
        <div class="login_form" id="login_form">
            <h2>Login</h2>
            <input class="login_input" type="text" id="login_username" placeholder="Username" required>
            <input class="login_input" type="password" id="login_password" placeholder="Password" required>
            <button class="login_button" onclick="login()">Login</button>
            <button class="login_button" onclick="showRegisterForm()">Register</button>
            <div class="login_response" ><div class="login_loader" id="login_loader"></div> <p class="login_response_msg" id="login_response_msg"></p></div>
            <p class="forgot_password_link"><a href="#">Forgot Password?</a></p>
        </div>
        <div class="login_form" id="register_form" style="display: none;">
            <h2>Register</h2>
            <input class="login_input" type="text" placeholder="Username" id="register_username" required>
            <input class="login_input" type="email" placeholder="Email" id="register_email" required>
            <input class="login_input" type="password" placeholder="Password" id="register_password" required>
            <button onclick="register()" class="login_button">Register</button>
            <div class="login_response" ><div class="login_loader" id="register_loader"></div> <p class="login_response_msg" id="register_response_msg"></p></div>

        </div>
    </div >
    <div id="require_login" style="display: none">{{require_login}}</div>
    <div id="is_login" style="display: none">{{is_login}}</div>
    <div id="get_username" style="display: none">{{username}}</div>
    <div id="api_url" style="display: none">{{apiurl}}</div>

</div>

<script src="https://cdn.staticfile.net/marked-highlight/2.1.0/index.umd.min.js"></script>


<script src="https://cdn.staticfile.net/marked/11.1.1/marked.min.js"></script>
<script>
    document.getElementById('markdown-content').innerHTML =
      marked.parse('## 使用教程\n  1.上传文件: 在file文件管理页面，上传文件\n  2.创建知识库:在kb页面创建知识库，选择语言模型，嵌入模型等参数\n 3.知识库文件管理: 点击其中的知识库，选择文件操作，可以查看、添加、删除文件，注意知识库只能加载api和model相同的文件\n 4.创建对话： 选择指定知识库创建对话，并设置模型的任务角色模板和其它参数\n 5.对话： 发送消息开始聊天，可以选择是否使用知识库\n ');
</script>
<script src="../static/server/home.js"></script>
</body>
</html>