<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/server/kb.css">
</head>
<body>
<div class="top_button" id="top_button"></div>



<div class="main">



    <div class="header" >
        <div class="top_site_bar">
            <div class="top_list_item">
                <div class="top_list_item_element" id="home" onclick="window.location.href='/idkb/'">home</div>
            </div>
            <div class="top_list_item">
                <div class="top_list_item_element" id="kb">knowledge base</div>
            </div>
            <div class="top_list_item">
                <div class="top_list_item_element" id="file" onclick="window.location.href='/idkb/file'">file</div>
            </div>
            <div class="top_list_item">
                <div class="top_list_item_element" id="chat" onclick="window.location.href='/idkb/chat'">chat</div>
            </div>
            <div class="top_empty_item"></div>
            <div class="search_bar">
                <input class="search_input" id="search_input">
                <div class="search_button" id="search_button"></div>
            </div>
            <div class="etc_button" id="etc_button" onclick="show_etc_menu()"></div>
        </div>
    </div>



    <div class="separator"></div>




    <div class="main-container" id="main_container">
        <div class="actions">
            <div class="actions_item"><div class="actions_item_element" onclick="kb_create()">create kb</div></div>
            <div class="actions_item"><div class="actions_item_element" onclick="kb_delete()">delete kb</div></div>
        </div>

        <ul class="kb_list" id="kb_list">
            <div class="kb_list_info"><span>name</span> <span>api</span> <span>llm</span> <span>embedding_model</span> </div>
        </ul>

        <div class="absolute_container" id="absolute_container" style="display: none;">
            <div class="kb_detail" id="kb_detail" style="display: none;">
                <div class="kb_detail_close" id="kb_detail_close" onclick="kb_detail_close()"></div>
                <h2>Kb Details</h2>
                <ul>
                    <li><strong>Name:</strong> <span id="kb_detail_name">FileName</span></li>
                    <li><strong>api:</strong> <span id="kb_detail_api">api</span></li>
                    <li><strong>llm:</strong> <span id="kb_detail_llm">llm</span></li>
                    <li><strong>embedding_model:</strong> <span id="kb_detail_embedding_model">embedding_model</span></li>
                    <li><strong>reference:</strong> <span id="kb_detail_reference">reference</span></li>
                    <li><strong>create_time:</strong> <span id="kb_detail_create_time">create_time</span></li>
                    <li><strong>update_time:</strong> <span id="kb_detail_update_time">update_time</span></li>
                </ul>
                <div class="submit_button" onclick="kb_files_operate()">files operate</div>
            </div>

            <div class="kb_files_operate_form" id="kb_files_operate_form" style="display: none">
                <div class="kb_detail_close" onclick="kb_files_operate_close()"></div>
                <ul class="kb_files_list" id="kb_files_list"></ul>
                <div class="submit_button" onclick="kb_files_add()">add files</div>
                <div class="submit_button" onclick="kb_files_drop()">drop files</div>
            </div>

            <div class="kb_files_operate_form" id="kb_files_add_form" style="display: none">
                <div class="kb_detail_close" onclick="kb_files_add_close()"></div>
                <ul class="kb_files_list" id="kb_files_add_list"></ul>
                <div class="submit_button" id="kb_files_add_submit_but" onclick="kb_files_add_submit()">add</div>
            </div>
            
            <div class="kb_files_operate_form" id="kb_files_drop_form" style="display: none">
                <div class="kb_detail_close" onclick="kb_files_drop_close()"></div>
                <ul class="kb_files_list" id="kb_files_drop_list"></ul>
                <div class="submit_button" id="kb_files_drop_submit_but" onclick="kb_files_drop_submit()">drop</div>
            </div>

            <div class="menu" id="etc_menu" style="display: none">
                <div class="menu_item"  onclick="logout()"><div class="menu_item_text">logout</div></div>
            </div>

            <div class="kb_create_form" id="kb_create_form" style="display: none;">
                <div class="kb_create_form_close"  onclick="kb_create_form_close()"></div>
                <div class="kb_create_form_options" id="kb_create_form_options">

                     <label for="kb_create_form_kbname">kbname:</label>
                      <input id="kb_create_form_kbname" required>
                     <label for="api_select">API:</label>
                      <select id="api_select">
                        <option value="aiproxy">aiproxy</option>
                        <option value="local">local</option>
                        <option value="test">test</option>
                      </select>
                     <label for="llm_select">llm:</label>
                      <select id="llm_select">
                        <option value="test">[test] llm</option>
                        <option value="gpt-3.5-turbo">[aiproxy] gpt-3.5-turbo</option>
                        <option value="gpt-4">[aiproxy] gpt-4</option>
                        <option value="gpt-4-0314">[aiproxy] gpt-4-0314</option>
                        <option value="gpt-4-0613">[aiproxy] gpt-4-0613</option>
                        <option value="glm3_6b">[local] glm3_6b</option>
                      </select>
                      <label for="embedding_model_select">Embedding Model:</label>
                      <select id="embedding_model_select">
                        <option value="test">[test] test-embedding-model</option>
                        <option value="text-embedding-ada-002">[aiproxy] api-text-embedding-ada-002</option>
                        <option value="glm3_6b_text_embeddings">[local] glm3-6b-text-embeddings</option>
                      </select>
                    <div class="submit_button" onclick="kb_create_submit()">create</div>
                    <div class="upload_response" ><div class="upload_loader" id="create_loader" style="display: none;"></div> <p class="upload_response_msg" id="create_response_msg"></p></div>
                </div>
            </div>

            <div class="kb_delete_form" id="kb_delete_form" style="display: none;">
                <div class="kb_delete_form_close" id="kb_delete_form_close" onclick="kb_delete_form_close()"></div>
                <div class="kb_delete_list" id="kb_delete_list">
                </div>
                <div class="submit_button" onclick="kb_delete_submit()">delete</div>
            </div>
        </div>

        <div class="empty_block"></div>
        
        <div class="separator"></div>
        
        <div class="footer"></div>

        <div id="require_login" style="display: none">{{require_login}}</div>
        <div id="is_login" style="display: none">{{is_login}}</div>
        <div id="get_username" style="display: none">{{username}}</div>
        <div id="api_url" style="display: none">{{apiurl}}</div>
    </div>
</div>









<script src="../static/server/kb.js"></script>

</body>
</html>